html {
  --dot-size: 1.2px;
  --dot-space: 24px;
}

html.dark {
  --dot-color: #2f353c;
  --dot-mask-color: #000000;
}

html:not(.dark) {
  --dot-color: #a5aeb850;
  --dot-mask-color: #ffffff;
}

.bg-dot::before {
  content: "";
  margin: -1px;
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    var(--dot-color) var(--dot-size),
    transparent 0
  );
  background-size: var(--dot-space) var(--dot-space);
  background-position: center center;
  mask-image: linear-gradient(0deg, transparent 5%, var(--dot-mask-color));
}
