---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/site-config";
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Hi i am Eno👋</h1>
  </article>
</BaseLayout>
