---
import { IconCloud } from "@/components/ui/icon-cloud";
import WordRotate from "@/components/ui/word-rotate";
import FullPageLayout from "@/layouts/FullPageLayout.astro";
import siteConfig from "@/site-config";
---

<FullPageLayout description={siteConfig.description}>
  <section class="flex h-screen w-full pt-12 sm:pt-20 lg:pt-0">
    <div
      class="grid w-full grid-cols-1 place-content-evenly py-10 lg:grid-cols-2 lg:py-16"
    >
      <div class="m-auto flex flex-col">
        <div class="flex flex-col gap-4">
          <h1
            class="text-5xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl"
          >
            Hi there
          </h1>
          <div class="relative flex items-baseline">
            <h1
              class="text-6xl font-bold tracking-tighter sm:text-6xl md:text-7xl lg:text-8xl"
            >
              I'm
            </h1>
            <WordRotate
              className="absolute top-0 ml-4 mr-1 text-6xl font-bold tracking-tighter sm:text-6xl md:text-7xl lg:text-8xl"
              words={["Developer", "Innovator", "Eno"]}
              client:load
            />
            <span
              class="invisible relative after:text-6xl after:content-['xxxxxxxxx'] after:sm:text-6xl after:md:text-7xl after:lg:text-8xl"
              aria-hidden="true"></span>
          </div>
          <p class="text-lg leading-normal text-muted-foreground sm:text-xl">
            Full-stack developer who loves building things
          </p>
        </div>
      </div>
      <div class="mx-auto flex flex-col">
        <div
          class="relative flex size-full max-w-lg items-center justify-center p-8 sm:p-16 lg:p-4"
        >
          <IconCloud iconSlugs={siteConfig.skills} client:load />
        </div>
      </div>
    </div>
  </section>
</FullPageLayout>
